<div id="error" style="color: red"></div>
<div>
    <label>Nom d'utilisateur</label>
    <input label="username" name="username" id="username">
    <label>Mot de passe</label>
    <input type="password" label="password" name="password" id="password"><br>
    <label>Vérification du mot de passe</label>
    <input type="password" label="Vpassword" name="Vpassword" id="Vpassword"><br>
    <button onclick="Create(event)">Créer</button>
</div>
<a href="/login">Se connecter</a>




<script>
const parameter = new URLSearchParams(window.location.search);
const error = parameter.get('error');
if (error) {
    document.getElementById('error').innerText = error;
}
</script>

<script src="./static/js/create.js"></script>