<div id="error" style="color: red"></div>
<div id="success" style="color: green"></div>
<div>
    <label>Nom d'utilisateur</label>
    <input label="username" name="username" id="username">
    <label>Mot de passe</label>
    <input type="password" label="password" name="password" id="password"><br>
    <button onclick="Login(event)">Connexion</button>
</div>
<a href="/create">Créer un compte</a>




<script>
const parameter = new URLSearchParams(window.location.search);
const error = parameter.get('error');
const success = parameter.get('success');
if (error) {
    document.getElementById('error').innerText = error;
}
if (success) {
    document.getElementById('success').innerText = success;
}
</script>

<script src="./static/js/login.js"></script>
