# ==============================================
# REQUIREMENT POUR LE PROGRAMME D'ENTRAÎNEMENT #
# ==============================================


# Librairies de Machine Learning nécessaires pour l'entraînement des modèles
--extra-index-url https://download.pytorch.org/whl/cpu
tensorflow-cpu==2.15.0
torch
torchvision

# Librairie pour la mise en place des configurations des modèles
pyyaml

# Librairiees pour la manipulation de donnée
numpy
psutil

# Librairie pour la communication avec Kafka
kafka-python